/* ---------------------------------------- Author: Rowan Abraham ---------------------------------------- */

	/* for info on selectors {"."A, "*"A, "#"A, ""A, A""B, A" "B, A","B, A">"B, A"+"B, A"~"B, etc...}
	visit https://www.w3schools.com/cssref/css_selectors.asp */

	/* For default CSS values visit
	https://www.w3schools.com/cssref/css_default_values.asp */

	/* CSS Cheat Sheet 
	https://devhints.io/css */

	/* Colour Picker 
	https://htmlcolors.com/google-color-picker */

	/* Box-Shadow Generator 
	https://html-css-js.com/css/generator/box-shadow/ */

	



/* ---------------------------------------- HTML ---------------------------------------- */

/* base {
	no default css properties
} *//* default URL & target for any undefined links https://www.w3schools.com/tags/tag_base.asp */

/* !DOCTYPE {
	no default css properties
} *//* Browser declaration https://www.w3schools.com/tags/tag_doctype.asp */

head {
	display: none;
}/* metadata container https://www.w3schools.com/tags/tag_head.asp */

html {
	display: block;
}/* HTML Document https://www.w3schools.com/tags/tag_html.asp */
html:focus {
	outline: none;
}

link {
	display: none;
}/* link to an external style sheet https://www.w3schools.com/tags/tag_link.asp */

/* meta {
	no default css properties
} *//* metadata items https://www.w3schools.com/tags/tag_meta.asp */

script {
	display: none;
}/* embeds javascript https://www.w3schools.com/tags/tag_script.asp */

style {
	display: none;
}/* defines CSS stylesheet https://www.w3schools.com/tags/tag_style.asp */

title {
	display: none;
}/* website title https://www.w3schools.com/tags/tag_title.asp */

@media (orientation: portrait){}/* mobile browser HTML Elements*/





/* ---------------------------------------- containers ---------------------------------------- */

*, html *, body * {
	box-sizing: border-box;
}/* every element, every element in html, every element in body
not 'box-sizing' by default but it's helpful to do that so that border and padding are included in width & height declarations */

article {
	display: block;
}/* an independant, self-contained section https://www.w3schools.com/tags/tag_article.asp */

body {
	display: block;
	margin: 8px;
}/* HTML Visual Document https://www.w3schools.com/tags/tag_body.asp */
body:focus {
	outline: none;
}

/* canvas {
	no default css properties
} *//*  https://www.w3schools.com/tags/tag_canvas.asp */

div {
	display: block;
}/* Section https://www.w3schools.com/tags/tag_div.asp */

/* iframe {
	no default css properties
} *//* HTML frame inside of another HTML page https://www.w3schools.com/tags/tag_iframe.asp */
iframe:focus {
	outline: none;
}
iframe[seamless] {
	display: block;
}

nav {
	display: block;
}/* set of navigation links https://www.w3schools.com/tags/tag_nav.asp */

section {
	display: block;
}/* a section of a document https://www.w3schools.com/tags/tag_section.asp */

@media (orientation: portrait){}/* mobile browser Containers */





/* ---------------------------------------- TEXT CONTAINERS ---------------------------------------- */

abbr {
	display: inline;
}/* <abbr title="">, containing an abbreviation https://www.w3schools.com/tags/tag_abbr.asp */

address {
	display: block;
	font-style: italic;
}/* a container for contact information */

aside {
	display: block;
}/* related details, footnote-type text https://www.w3schools.com/tags/tag_aside.asp */

blockquote {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;
}/* longer quote, including a <cite> & text https://www.w3schools.com/tags/tag_blockquote.asp */
blockquote cite {
	font-style: italic;
}/* citation appearing in a blockquote w3schools.com/tags/tag_cite.asp */

/* br {
	no default css properties
} *//* line break https://www.w3schools.com/tags/tag_br.asp */
/* wbr {
	no default css properties
} *//* (potential) word break (for line strings that might span multiple lines */

code {
	font-family: monospace;
}/* monospaced text used to indicate code https://www.w3schools.com/tags/tag_code.asp */

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	display: block;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}/* All headings & heading links https://www.w3schools.com/tags/tag_hn.asp */
h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
h3 {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
h4 {
	display: block;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
h5 {
	display: block;
	font-size: .83em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
h6 {
	display: block;
	font-size: .67em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}/* Paragraph  https://www.w3schools.com/tags/tag_p.asp */
p:first-line {
	font-size: inherit;
}/* First line of a paragraph */
p:first-letter {
	font-size: inherit;
}/* Paragraph drop-cap */
p:hover a:link, p:hover a:visited {
	font-weight: bold;
}/* visited & unvisited links in a paragraph while hovered */
p:hover a:hover, p:hover a:active {
	font-weight: bold;
}/* hovered & clicked links in a paragraph while hovered */

pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0;
}/* preformatted text, including line breaks & spaces */
pre code {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0;
}/* monospaced code text block including line breaks & spaces */

q {
	display: inline;
}/* short quotation https://www.w3schools.com/tags/tag_q.asp */
q::before {
	content: open-quote;
}
q::after {
	content: close-quote;
}

samp {
	font-family: monospace;
}/* keyboard input instructions https://www.w3schools.com/tags/tag_kbd.asp */

summary {
	display: block;
}/* Defines heading with expandable <details> https://www.w3schools.com/tags/tag_summary.asp */
details {
	display: block;
}/* relevant details that can be opened or closed by interacting with <summary> https://www.w3schools.com/tags/tag_details.asp */

@media (orientation: portrait){}/* mobile browser text containers */





/* ---------------------------------------- TEXT STYLING ---------------------------------------- */

/* @font-face {
	font-family: 'name', sans-serif // serif;
	src: url("/font/fontFile.ttf");
	font-weight: normal;
	font-style: normal;
	font-size: medium;
	font-stretch: normal;
	font-kerning: normal;
} */

b {
	font-weight: bold;
}/* bold text https://www.w3schools.com/tags/tag_b.asp */

del {
	text-decoration: line-through;
}/* strikethrough https://www.w3schools.com/tags/tag_del.asp */

em {
	font-style: italic;
}/* emphasized https://www.w3schools.com/tags/tag_em.asp */

i {
	font-style: italic;
}/* italics https://www.w3schools.com/tags/tag_i.asp */

ins {
	text-decoration: underline;
}/* underline https://www.w3schools.com/tags/tag_ins.asp */

mark {
	background-color: yellow;
	color: black;
}/* highlighted text https://www.w3schools.com/tags/tag_mark.asp */

s {
	text-decoration: line-through;
}/* Strikethrough https://www.w3schools.com/tags/tag_s.asp */

small {
	font-size: smaller;
}/* smaller text https://www.w3schools.com/tags/tag_small.asp */

/* span {
	no default css properties, use 'style="color: rgba(255, 255, 255, 1)"'
} *//* coloured text section*/

strong {
	font-weight: bold;
}/* strong text https://www.w3schools.com/tags/tag_strong.asp */

sub {
	vertical-align: sub;
	font-size: smaller;
}/* subscript text https://www.w3schools.com/tags/tag_sub.asp */

sup {
	vertical-align: super;
	font-size: smaller;
}/* superscript text https://www.w3schools.com/tags/tag_sup.asp */

u {
	text-decoration: underline;
}/* Underlined Text https://www.w3schools.com/tags/tag_u.asp */

var {
	font-style: italic;
}/* italicized text indicating variable https://www.w3schools.com/tags/tag_var.asp */

@media (orientation: portrait){}/* mobile browser text styles */





/* ------------------------------ NON-ENGLISH TEXT ------------------------------ */

/*bdi {
	no default css properties
} *//* bidirectional isolation, used for text that has a different direction than surrounding text https://www.w3schools.com/tags/tag_bdi.asp */

bdo {
	unicode-bidi: bidi-override;
}/* bidirectional override used to override text direction https://www.w3schools.com/tags/tag_bdo.asp */

/* ruby {
	no default css properties
} *//* ruby annotation, often used in Japanese publication */
rt {
	line-height: normal;
}/* ruby explanation or pronunciation */
/* rp {
	no default css properties
} *//* ruby paranthesis for browsers that to not support ruby annotations */





/* ---------------------------------------- LISTS https://www.w3schools.com/css/css_list.asp ---------------------------------------- */

dl {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}/* Description List https://www.w3schools.com/tags/tag_dl.asp */
dt {
	display: block;
}/* Description List Item Term(TERM:description) https://www.w3schools.com/tags/tag_dt.asp */
dd {
	display: block;
	margin-left: 40px;
}/* Description List Item Description(term:DESCRIPTION) https://www.w3schools.com/tags/tag_dd.asp */

li {
	display: list-item;
}/* list item https://www.w3schools.com/tags/tag_li.asp */

ol {
	display: block;
	list-style-type: decimal;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}/* Ordered List https://www.w3schools.com/tags/tag_ol.asp */

ul {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}/* Unordered List https://www.w3schools.com/tags/tag_ul.asp */

@media (orientation: portrait){}/* mobile browser lists */





/* ---------------------------------------- MEDIA ---------------------------------------- */

/* audio {
	no default css properties
} *//* embed sound content https://www.w3schools.com/tags/tag_audio.asp */

/* embed {
	no default css properties
} *//* An external resource container https://www.w3schools.com/tags/tag_embed.asp */
embed:focus {
	outline: none;
}

img {
	display: inline-block;
	pointer-events: none;/* prevents dragging and right clicking to save image */
}/* image https://www.w3schools.com/tags/tag_img.asp */

/* object {
	no default css properties
} *//* An external resource container https://www.w3schools.com/tags/tag_object.asp */
object:focus {
	outline: none;
}
param {
	display: none;
}/*defines parameters for <object> https://www.w3schools.com/tags/tag_param.asp */

/* picture {
	no default css properties
} *//* one picture frame for multiple possible images, for responsive images https://www.w3schools.com/tags/tag_picture.asp */

/* track {
	no default css properties
} *//* defines subtitle tracks for <video>/<audio> https://www.w3schools.com/tags/tag_track.asp */

/* video {
	no default css properties
} *//* Embed a video https://www.w3schools.com/tags/tag_video.asp */

@media (orientation: portrait){}/* mobile browser images */





/* ---------------------------------------- LINKS https://www.w3schools.com/css/css_link.asp ---------------------------------------- */

/* a {
	no default css properties
} *//* a link to location https://www.w3schools.com/tags/tag_a.asp */
a:link{
	color: rgb(00, 00, 255);
	text-decoration: underline;
	cursor: auto;
}/* a normal unvisited link */
a:visited{
	color: rgb(255, 00, 255);
	text-decoration: underline;
	cursor: auto;
}/* a link the user has visited */
a:link:active, a:visited:active, a:active, a:focus {
	color: rgb(255, 00, 00);
}/* A link when it is pressed */
a:hover{
	text-shadow: 0px 0px 10px #828282, 0px 0px 10px #828282, 0px 0px 10px #828282, 0px 0px 10px #828282;/* not default, but placeholder */
}/* A link when the cursor is hovering */

area {
	display: none;
}/* defined area in <map> https://www.w3schools.com/tags/tag_area.asp */
map {
	display: inline;
}/* Image map, an image with clickable <area>s https://www.w3schools.com/tags/tag_map.asp */

figure {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;
}/* Visual  document 'figure' ie 'see figure 8 for details' https://www.w3schools.com/tags/tag_figure.asp */
figcaption {
	display: block;
}/* Defines a caption for <figure> https://www.w3schools.com/tags/tag_figcaption.asp */

img a, a img {
	pointer-events: initial;/* makes image links clickable */
}/* image links */
img a:hover, a img:hover {
	box-shadow: 0px 0px 25px 10px rgba(130,130,130,0.5);/* not default */
}

@media (orientation: portrait){}/* mobile browser links */





/* ---------------------------------------- FORMS & INPUTS https://www.w3schools.com/css/css_form.asp ---------------------------------------- */

/* button {
	no default css properties
} *//* clickable button https://www.w3schools.com/tags/tag_button.asp */
/* button:hover {} */

datalist {
	display: none;
}/* list of pre-defined options for https://www.w3schools.com/tags/tag_datalist.asp */

fieldset {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border: 2px groove (internal value);
}/* groups related items in a form https://www.w3schools.com/tags/tag_fieldset.asp */
legend {
	display: block;
	padding-left: 2px;
	padding-right: 2px;
	border: none;
}/* defines a caption for <fieldset> https://www.w3schools.com/tags/tag_legend.asp */

form {
	display: block;
	margin-top: 0em;
}/* creates HTML form for user input https://www.w3schools.com/tags/tag_form.asp */

/* input {
	no default css properties
} *//* User action https://www.w3schools.com/tags/tag_input.asp */
/* input[type=submit], input[type=reset], input[type=button] {} */

label {
	cursor: default;
}/* creates a label for a variety of other elements, good accessibility practice https://www.w3schools.com/tags/tag_label.asp */

/* optgroup {
	no default css properties
} *//* groups related <object>s https://www.w3schools.com/tags/tag_optgroup.asp */

/* option {
	no default css properties
} *//* defines an option in <select>/<optgroup>/<datalist> https://www.w3schools.com/tags/tag_option.asp */

/* select {
	no default css properties
} *//* drop-down selection https://www.w3schools.com/tags/tag_select.asp */

/* textarea {
	no default css properties
} *//* https://www.w3schools.com/tags/tag_textarea.asp */
/* textarea:hover {
	no default css properties
} *//*  */

@media (orientation: portrait){}/* mobile browser forms *//*  */





/* ------------------------------ TABLES https://www.w3schools.com/css/css_table.asp ------------------------------ */

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}/* html table https://www.w3schools.com/tags/tag_table.asp */
caption {
	display: table-caption;
	text-align: center;
}/* table caption https://www.w3schools.com/tags/tag_caption.asp */
colgroup {
	display: table-column-group;
}/* defines table column group https://www.w3schools.com/tags/tag_colgroup.asp */
col {
	display: table-column;
}/* defines a column within colgroup https://www.w3schools.com/tags/tag_col.asp */
td {
	display: table-cell;
	vertical-align: inherit;
}/* Table data-cell https://www.w3schools.com/tags/tag_td.asp */
th {
	display: table-cell;
	vertical-align: inherit;
	font-weight: bold;
	text-align: center;
}/* table header-cell https://www.w3schools.com/tags/tag_th.asp */
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}/* table-row https://www.w3schools.com/tags/tag_tr.asp */
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}/* table body https://www.w3schools.com/tags/tag_tbody.asp */
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}/* table header https://www.w3schools.com/tags/tag_thead.asp */
tfoot {
	display: table-footer-group;
	vertical-align: middle;
	border-color: inherit;
}/* table footer https://www.w3schools.com/tags/tag_tfoot.asp */

@media (orientation: portrait){}/* mobile browser tables */





/* ------------------------------ POSITIONS https://www.w3schools.com/css/css_align.asp ------------------------------ */

.background {
	background-color: auto;
	background-image: auto;
	background-repeat: auto;
	background-attachment: auto;
	background-position: auto;
}
.nobackground {
	background: none;
}

.center {
	text-align: center;
}
.left {
	float: left;
}
.right {
	float: right;
}

.clear {
	display: block;
	clear: both;
	height: 1%;
	margin: 0;
	padding: 0;
	font-size: 1px;
	line-height: 1px;
}

.hide {
	display: none;
}
.show {
	display: block;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}/* Horizontal rule (line) https://www.w3schools.com/tags/tag_hr.asp */

.noborder {
	border: 0 none;
}

.skipnav {
	position: absolute;
	height: 0.1em;
	left: -9999px;
	top: -9999px;
}

.vert-align {
	vertical-align: middle;
}

@media (orientation: portrait){}/* mobile browser positions */





/* ------------------------------ SCRIPTS ------------------------------ */

/* meter {
	no default css properties
} *//* measure data within a range https://www.w3schools.com/tags/tag_meter.asp */

/* noscript {
	no default css properties
} *//* Defines content to display in the event that users disable javascript https://www.w3schools.com/tags/tag_noscript.asp */

output {
	display: inline;
}/* represents the output of a calculation https://www.w3schools.com/tags/tag_output.asp */

/* progress {
	no default css properties
} *//* progress shows the completion of a task https://www.w3schools.com/tags/tag_progress.asp */

/*:root {
	--variableName: "variableValue";
}*//* "var(--variableName)" https://www.w3schools.com/css/css3_variables.asp */

@media (orientation: portrait){}/* mobile browser positions */





/* ------------------------------ SCROLLBAR ------------------------------ */

/* .scrollbar::-webkit-scrollbar {
	display: none;
} .scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
} *//* Hides scrollbar*/





/* ------------------------------ Clear Floats Fix ------------------------------ */

.clearfix {
	overflow: auto;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}





/* ------------------------------          boilerplate.css         ------------------------------ */
/* ------------------------------     written by Rowan Abraham     ------------------------------ */
/* ------------------------------        for  CSS3, in 2021        ------------------------------ */
